body{
margin:0;
font-family:Arial;
background:black;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;
}

body::before{
content:"";
position:absolute;
width:900px;
height:900px;
border-radius:50%;
background:radial-gradient(circle,#00ffe0,#001f1a,transparent);
animation:move 8s infinite alternate;
pointer-events:none;
}

@keyframes move{
0%{transform:translate(-200px,-200px)}
100%{transform:translate(200px,200px)}
}

.container{
position:relative;
background:#0a0a0a;
padding:40px;
border-radius:15px;
box-shadow:0 0 30px #00ffe0;
text-align:center;
z-index:2;
width:350px;
}

h2{
margin-bottom:20px;
color:#00ffe0;
}

input,select{
width:90%;
padding:10px;
margin:10px;
border:none;
border-radius:8px;
}

button{
background:#00ffe0;
border:none;
padding:12px;
width:100%;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#00bfa5;
}

.bottom-link{
margin-top:15px;
font-size:14px;
}

a{
color:#00ffe0;
text-decoration:none;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid #00ffe0;
}